{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    {{ lot.name }}
    {% if user.id == lot.owner.id %}
      <a href="{% url 'tendering:lot-delete' pk=lot.id %}" class="btn btn-danger link-to-page" style="float: right">
        Delete
      </a>
      <a href="{% url 'tendering:lot-update' pk=lot.id %}" class="btn btn-secondary link-to-page" style="float: right; margin-right: 30px">
        Update
      </a>
    {% endif %}
  <p style="font-family: 'Playfair Display', serif; font-size: x-large">Category: {{ lot.category.name }}</p>
  </h1>
  <br>
  <div class="card mb-4">
  {% if lot.photo %}
    <img src="{{ lot.photo.url }}" class="card-img-top img-fluid" style="width: 40%; height: 35%; max-height: 40%" alt="Lot photo">
  {% endif %}
    <div class="card-header">
      Description:
    </div>
    <div class="card-body">
      <p>{{ lot.description }}</p>
    </div>
  </div>
  <h3>
    Term: {{ lot.start_date|date:"H:i d.m.Y" }} - {{ lot.end_date|date:"H:i d.m.Y" }}
  </h3>
  <br>
  {%  if lot.current_price %}
    <h3>Current price: {{ lot.current_price|floatformat:2 }}</h3>
  {% else %}
    <h3>Start price: {{ lot.start_price|floatformat:2 }}</h3>
  {%  endif %}
  <br>
  <h3>Bidders:</h3>
  <ul>
    {% for bid in lot.bids.all%}
      <li>
      {{ bid.user.username }}: {{ bid.amount }} ({{ bid.user.created_time|date:"H:i d.m.Y" }})
      </li>
    {% empty %}
    <li>No bids yet</li>
    {% endfor %}
  </ul>
  <form action="{% url 'tendering:bid-create' pk=lot.id %}" method="post" novalidate>
    {% csrf_token %}
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="form-group">
                {{ bid_form|crispy }}
            </div>
            <input type="hidden" name="lot_id" value="{{ lot.id }}">
            <button class="btn btn-primary btn-block" type="submit">Set bid</button>
        </div>
    </div>
</form>


  <hr>
  <div class="comments-section">
      <h4 class="mb-3">Comments:</h4>
      {% if lot.comments.all %}
        <div class="list-group">
          {% for comment in lot.comments.all %}
            <div class="list-group-item">
              <p class="mb-1"><strong>{{ comment.owner }}:</strong> {{ comment.created_time }}</p>
              <p>{{ comment.text }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-muted">No comments yet.</p>
      {% endif %}
      <div class="mt-4">
        <h5>Add a Comment:</h5>
        <form action="{% url 'tendering:comment-create' pk=lot.id %}" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="hidden" name="lot_id" value="{{ lot.id }}">
          <button class="btn btn-primary" type="submit">Submit comment</button>
        </form>
      </div>
  </div>

{% endblock %}
