{% extends "base.html" %}

{% block content %}
  <h1>User: {{ user.username }} <a href="{% url 'tendering:user-delete' pk=user.id %}" style="float:right; margin-left: 10px">Delete</a>
  <a href="{% url 'tendering:user-update' pk=user.id %}" style="float:right; margin-left: 10px" >Update</a>
  </h1>
  <p><strong>First name: </strong>{{ user.first_name }}</p>
  <p><strong>Last name: </strong>{{ user.last_name }}</p>
  <div class="ml-3">
    <h3>Lots I am participating in:</h3>
    {% for lot in participating_lots %}
      <hr>
      <p>{{ lot.name }} {{ lot.current_price }}.
      {% if lot.get_highest_bidder and lot.get_highest_bidder.id == user.id %}
        I am the leader now!
      {% else %}
        I am not the leader now.
      {% endif %}
      </p>
    {% empty %}
      <p>No active lots where I am bidder</p>
    {% endfor %}
    <h3>My active lots:</h3>
    {% for lot in my_active_lots %}
      <hr>
      <p>{{ lot.name }}: {{ lot.current_price }} ({{ lot.category }})</p>
      <p>{{ lot.start_date|date:"d M Y" }} - {{ lot.end_date|date:"d M Y" }}</p>
    {% empty %}
      <p>No my active lots</p>
    {% endfor %}
    <h3>My own lots:</h3>
    {% for lot in  my_inactive_lots %}
      <hr>
      <p>{{ lot.name }}: {{ lot.current_price }} ({{ lot.category }})</p>
    {% empty %}
      <p>I have no my own lots yet</p>
    {% endfor %}
  </div>
{% endblock %}
